
.forgot-password-container{
max-height: 80vh;
background: #f8f9f1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.forgot-password-box{
    
    max-width: 600px;
    width: 100%;

    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    margin-top: 5vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}
.forgot-logo{
    text-align: center;
}
h3{
    font-size: 2rem;
    margin-right: 1rem;
}
p{
    
    font-size: 1.3rem;
    
}
input{
    margin-right: 1rem;
     margin-bottom: 1rem;
    
}
.button{
    width: 96%;
    
}
.forgot-para{
    text-align: center;
}
 