.sidebar{
    position: fixed;
    background-color: pink;
    height: calc(100vh - 103px);
    top: 103px;
    width:220px;
    left: 0;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    transition: width 0.3s ease;
    overflow-x: hidden;
    
    
    
}
.sidebar.collapsed {
  width: 70px;
  overflow-x: hidden;
}
.sidebar-links .link-text {
  transition: opacity 0.2s ease;
}

.sidebar.collapsed .link-text {
  opacity: 0;
  width: 0;
  overflow: hidden;
  display: inline-block;
}

.sidebar-links{
    display: flex;
    
    flex-direction: column;
  align-items: flex-start; 
  padding-left: 10px;
  padding-top:10px;
    
}
.sidebar-links a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    padding: 12px 20px;
    margin-bottom: 8px;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
     box-sizing: border-box;
     
}
.sidebar-links a:hover {
  background-color: #e1e7f0;
  color: #2D9CD8;
}
.sidebar-links a.active {
  background-color: #2D9CD8;
  color: #333;
  font-weight: 600;
}
.sidebar-links a .nav-icon {
  margin-right: 12px;
  font-size: 22px;
  flex-shrink: 0; /* prevents icon shrinking */
}